
* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'converterBox'
  'main'
  'facts'
  'footer';
  background-color: white;
  gap: 10px;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
	box-shadow:1px 1px 5px;
    border-radius: 28px 28px 28px 28px;
    transition:all 0.2s ease;
 /* -moz-border-radius: 45px 45px 45px 45px; */
/* -webkit-border-radius: 45px 45px 45px 45px; */ 
}

#header :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
	box-shadow:1px 1px 10px;
    border-radius: 25px 25px 25px 25px;
}

#header h1 {
    transition:all 0.2s ease;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
}

#header h1:hover{
    color:rgb(34, 34, 34);
	font-size:205%;   
}

#converterBox {
    
    margin: auto;
    margin-top: 10%;
    display: grid;
    place-content: center;
    height: 300px;
    width: 600px;
    box-shadow:1px 1px 8px;
    border-radius: 30px 30px 30px 30px;
}

#myDropdown {
    appearance: base-select;
}
#gridBox {
    padding: 30px;
}
#label{
    vertical-align:top;
    background-color: white;
    padding:10px;
    font-size: 150%;
}

#footer {
    grid-area: footer;
}

#Scratch {
  width: 70px;
  height: 50px;
  position:relative;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0%   {transform:rotatez(0deg);color:red; left:0px; top:0px;}
  25%  {transform:rotatez(1000deg) ;color:rgb(234, 0, 255); left:100px; top:0px;}
  50%  {transform:rotatey(180deg)scale(0.5);color:blue; left:200px; top:0px;}
  75%  {transform:rotatez(360deg)scale(1.5);color:green; left:200px; top:42px;}
  100% {transform:rotatez(720deg);color:red; left:0px; top:0px;}
}