
* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'converterBox'
  'main'
  'facts'
  'footer';
  background-color: white;
  gap: 10px;
}

#converterBox {
    display: grid;
    place-content: center;
    height: 60vh;
    box-shadow:1px 1px 8px;
    size: 50px;
    border-radius: 28px 28px 28px 28px;
}

#header {
    float:center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
	box-shadow:1px 1px 5px;
    border-radius: 28px 28px 28px 28px;
    transition:all 0.2s ease;
 /* -moz-border-radius: 45px 45px 45px 45px; */
/* -webkit-border-radius: 45px 45px 45px 45px; */ 
}

#header :hover{
    float:center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
	box-shadow:1px 1px 10px;
    border-radius: 25px 25px 25px 25px;
}

#header h1 {
    transition:all 0.2s ease;
    border-radius: 25px 25px 25px 25px;
    float:center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
}

#header h1:hover{
    color:rgb(34, 34, 34);
	font-size:205%;   
}

#footer {
    grid-area: footer;
}

#Scratch {
     position: relative;
  animation-name: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0%   {color:red; left:0%; top:0px;}
  25%  {color:rgb(180, 180, 47); left:300%; top:100px;}
  50%  {color:blue; left:100%; top:50px;}
  75%  {color:green; left:-100%; top:70px;}
  100% {color:red; left:0%; top:0px;}
}