
* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'converterBox'
  'main'
  'facts'
  'footer';
  background-color: white;
  gap: 10px;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
	box-shadow:1px 1px 5px;
    border-radius: 28px 28px 28px 28px;
    transition:all 0.2s ease;
 /* -moz-border-radius: 45px 45px 45px 45px; */
/* -webkit-border-radius: 45px 45px 45px 45px; */ 
}

#header :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
	box-shadow:1px 1px 10px;
    border-radius: 25px 25px 25px 25px;
}

#header h1 {
    transition:all 0.2s ease;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px;
}

#header h1:hover{
    color:rgb(34, 34, 34);
	font-size:205%;   
}
#switch{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    place-content: center;
}

#converterBox {
    
    margin: auto;
    margin-top: 3%;
    margin-bottom: 4%;
    display: grid;
    place-content: center;
    height: 300px;
    width: 600px;
    box-shadow:1px 1px 8px;
    border-radius: 30px 30px 30px 30px;
}

#myDropdown {
    appearance: base-select;
}
#gridBox {
    padding: 30px;
}
#label{
    vertical-align:top;
    background-color: white;
    padding:10px;
    font-size: 150%;
}

#footer {
    grid-area: footer;
    margin-top: 62px;
}

#Scratch {
  width: 70px;
  height: 50px;
  position:relative;
  animation-name: myAnimation;
  animation-duration: 400s;
  animation-iteration-count: infinite;
}

#lightswitch{
    width:70px ;
    height:70px;
    border-radius: 100px 100px 100px 100px;
    animation: switchanime 10s linear infinite;
    transition:all 0.3s ease;

    /* animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

#switch{
    width:70px ;
    height:70px;
    border-radius: 100px 100px 100px 100px;
}
